<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Morning</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organisation in Spreadsheets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Afternoon</td>        <!-- time    -->
        <td><a href = "https://datacarpentry.github.io/R-ecology-lesson/introduction-r-rstudio.html">Introduction to R & R Studio,</a>
          <a href= "https://datacarpentry.github.io/R-ecology-lesson/how-r-thinks-about-data.html">Exploring Data with R </a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Morning</td>        <!-- time    -->
        <td><a href = "https://datacarpentry.github.io/R-ecology-lesson/working-with-data.html">Working with Data (cont.)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Demo with Real Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>        <!-- time    -->
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Morning</td>        <!-- time    -->
        <td><a href= "https://datacarpentry.github.io/R-ecology-lesson/how-r-thinks-about-data.html">Exploring Data (cont.),</a>
          <a href = "https://datacarpentry.github.io/R-ecology-lesson/visualizing-ggplot.html">Data Visualization in R</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Afternoon</td>        <!-- time    -->
        <td><a href= "https://datacarpentry.github.io/R-ecology-lesson/visualizing-ggplot.html">Data Visualization (cont.)</a>, 
          <a href="https://datacarpentry.github.io/R-ecology-lesson/working-with-data.html">Working with Data</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
  </div>
</div>
