<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>Morning</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organisation in Spreadsheets</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Introduction to R & R Studio, Exploring Data with R </td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Morning</td>        <!-- time    -->
        <td>Working with Data (cont.)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Demo with Real Data</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>        <!-- time    -->
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Morning</td>        <!-- time    -->
        <td>Exploring Data (cont.), Data Visualization in R</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>Afternoon</td>        <!-- time    -->
        <td>Data Visualization (cont.), Working with Data</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
  </div>
</div>
